body {
  background-color: black;
}
h1 {
  color: white;
text-align: center;
}
p {
  color: white;
text-align: center;
}
div.scroll-container {
  background-color: black;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
img {
  border-radius: 8px;
}
